<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Vision Page</title>
<link href="css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style>
    .slider{
    width:300px;
}
</style>
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script>
var brightness=0, contrast=32, saturation=64, hue=0, whiteauto=0, white=5700, gamma=100, gain=0, sharpness=3, exposureauto=1,exposure=1;
$(document).ready(function() {
	$("#Brightness").slider({
	min:-64,
	max:64,
	change: function(event, ui){
		setControl(0,0,9963776,1,ui.value);
		$("#BrightnessSpan").html("Brightness :  "+ui.value);
		brightness=ui.value;
	}
	});
	$("#Contrast").slider({
	min:0,
	max:95,
	change: function(event, ui){
		setControl(0,0,9963777,1,ui.value);
		$("#ContrastSpan").html("Contrast :  "+ui.value);
		contrast=ui.value;
	}
	});
	$("#Saturation").slider({
	min:0,
	max:128,
	change: function(event, ui){
		setControl(0,0,9963778,1,ui.value);
		$("#SaturationSpan").html("Saturation :  "+ui.value);
		saturation=ui.value;
	}
	});
	$("#Hue").slider({
	min:-40,
	max:40,
	change: function(event, ui){
		setControl(0,0,9963779,1,ui.value);
		$("#HueSpan").html("Hue :  "+ui.value);
		hue=ui.value;
	}
	});
	$("#White").slider({
	min:2800,
	max:6500,
	change: function(event, ui){
		setControl(0,0,9963802,1,ui.value);
		$("#WhiteSpan").html("White Balance Temperature :  "+ui.value);
		white=ui.value;
	}
	});
	$("#Gamma").slider({
	min:72,
	max:500,
	change: function(event, ui){
		setControl(0,0,9963792,1,ui.value);
		$("#GammaSpan").html("Gamma :  "+ui.value);
		gamma=ui.value;
	}
	});
	$("#Gain").slider({
	min:0,
	max:100,
	change: function(event, ui){
		setControl(0,0,9963795,1,ui.value);
		$("#GainSpan").html("Gain :  "+ui.value);
		gain=ui.value;
	}
	});
	$("#Sharpness").slider({
	min:0,
	max:7,
	change: function(event, ui){
		setControl(0,0,9963803,1,ui.value);
		$("#SharpnessSpan").html("Sharpness :  "+ui.value);
		sharpness=ui.value;
	}
	});
   
             function setControl(dest, plugin, id, group, value)
             {
               $.get("http://192.168.1.215:8080?action=command&id="+id+"&dest="+dest+"&group="+group+"&value="+value+"&plugin="+plugin);
             };
});
function savecam()
{
    $.get("/cgi-bin/save_camera.cgi",
    	        {"brightness":brightness,
    	         "contrast":contrast,
    	         "saturation":saturation,
    	         "hue":hue,
    	         "whiteauto":whiteauto,
    	         "white":white,
    	         "gamma":gamma,
    	         "gain":gain,
    	         "sharpness":sharpness,
    	         "exposure":exposure,
    	         "exposureauto":exposureauto},
    	         function(){alert("Parameter has saved!");});
}
</script>
</head>
<body>
	<!-- TODO:ADD Exposure -->
	<h1>Camera Parameter Adjust</h1>
	<table boder="0">
	<tr>
	<td rowspan="8" style="width:700px">
	<img src="http://192.168.1.215:8080/?action=stream" alt="To be displayed" />
	</td>
	<td><p><span id="BrightnessSpan">Brightness :  N/A</span></p><div class=slider id="Brightness"></div></td>
	<td>Recommended:0</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="ContrastSpan">Contrast :  N/A</span></p><div class=slider id="Contrast"></div></td>
	<td>Recommended:32</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="SaturationSpan">Saturation :  N/A</span></p><div class=slider id="Saturation"></div></td>
	<td>Recommended:64</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="HueSpan">Hue :  N/A</span></p><div class=slider id="Hue"></div></td>
	<td>Recommended:0</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="WhiteSpan">White Balance Temperature :  N/A</span></p><div class=slider id="White"></div></td>
	<td>Recommended:5700</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="GammaSpan">Gamma :  N/A</span></p><div class=slider id="Gamma"></div></td>
	<td>Recommended:100</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="GainSpan">Gain :  N/A</span></p><div class=slider id="Gain"></div></td>
	<td>Recommended:0</td>
	</tr>
	<br/>
	<tr>
	<td><p><span id="SharpnessSpan">Sharpness :  N/A</span></p><div class=slider id="Sharpness"></div></td>
	<td>Recommended:3</td>
	</tr>
	<br/>
	</table>
     <input type="button" value="save" onclick="savecam()"></input>
</body>
</html>
